table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

pre:not(.chroma) {
    border: none;
    background: none;
    border-radius: none;
}

figure.center div{
    display: block;
    margin: 0 auto;
}

li p {
    margin: 0 0 0 0;
}


div.post-list-item a:not(:hover){
    color: black;
}

@media (prefers-color-scheme: dark) {
  div.post-list-item a:not(:hover){
    color: white;
  }
}

div.post-list-item {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

div.post-list-item div.post-title{
    float: left;
    clear: left;
    font-weight: 800;
    font-size: 18px;
    margin-top: 10px;
}

div.post-list-item div.post-date{
    margin-top: 10px;
    float: right;
    font-weight: 300;
    font-size: 18px;
}

div.post-list-item div.post-subtitle{
    float: left;
    display: block;
    width: 100%;
    margin-left: 20px;
    text-size: 80%;
    font-weight: 300;
    font-size: 18px;
}

div.pandas {
  overflow: auto;
  font-size: small;
}

figcaption {
  margin: 0px 20px 10px 20px;
  font-size: 16px;
  color: #088;
}

@media (prefers-color-scheme: dark) {
  figcaption {
    color: #6FF;
  }

  span.nt {
    color: #9f6fff;
  }
}

.alert {
  margin-top: 20px;
}

details {
  background: #e0e0e0;
  border-radius: 6px;
  border-style: solid;
  border-width: 1px;
  border-color: #c0c0c0;
  margin: .8em auto;
  padding: 2px;
}

details[open] {
  background: #f0f0f0;
}

details:hover {
  cursor: pointer;
}

details > p {
  padding: 6px;
}

@media (prefers-color-scheme: dark) {
  details {
    background: #303030;
    box-shadow: none;
    border-color: #404040;
  }
  details[open] {
    background: #282828;
  }
}

details > summary {
  font-weight: bold;
}
