{{ define "header" }}<!-- No header on 404 pages -->{{ end }}
{{ define "main" }}
  <div role="main" class="container main-content">
    <div class="text-center">
      <img width="50%" height="50%" src="{{ .Site.BaseURL }}/images/coral-eat.jpg" />
      <h1>I'm sorry, but my cat ate this page. Please look for another one. (404 error)</h1>
    </div>
  </div>
{{ end }}
